// navbar

.nav {
  font-size: 2.2rem;
  text-transform: uppercase;
}
// menuMainFlex
.main {
  .main__menuBar {
    font-size: 2rem;
    padding: 0.5rem;
  }

  .main__newOrderBox {
    padding: 0.5rem;
  }
}
// newOrderContent scss

.newOrderContent {
  text-transform: capitalize;
  font-size: 1.4rem;
  // padding: .5rem;
  &__details {
    & * {
      padding: 0.1rem;
    }

    &-name {}

    &-phone {}

    &-time {}

    &-date {}

    &-mode {}
  }

  &__product {
    & * {
      padding: 0.1rem;
    }

    &-items {}
  }

  &__quantity {
    & * {
      padding: 0.1rem;
    }

    &-items {}
  }

  &__footer {
    & * {
      padding: 0.1rem;
    }

    &-total {}

    &-choice {}
  }
}
//completedOrders__table

// .completedOrders {
//   font-size: 1.5rem;
//   flex-grow: 1;
//   text-align: center;
//   &__table {
//
//     &-header {
//       font-weight: 500;
//
//       &--item {
//         min-width: 10rem;
//         @include respond(phone){
//           min-width: 5rem
//         }
//         @include respond(tab-port){
//           font-size: 1.2rem;
//         }
//       }
//     }
//     &-section {
//
//       &--item {
//         text-align: left;
//         padding-left: 1rem;
//
//         min-width: 10rem;
//         @include respond(phone){
//           min-width: 5rem
//         }
//         @include respond(tab-port){
//           font-size: 1.2rem;
//         }
//
//       }
//     }
//   }
// }
