// navbar
.nav{
  font-size: 2.2rem;
  text-transform: uppercase;
}

// menuMainFlex

.menuMainFlex{
  font-size: 2rem;
  .menu{
    text-align: center;
    padding: 1rem;
  }
  .main{
    padding: .5rem;
  }
}

// newOrderContent scss
.newOrderContent{
  text-transform: capitalize;
  font-size: 1.4rem;
  // padding: .5rem;
  &__details{

    & *{
      padding: .1rem;
    }
    &-name{

    }
    &-phone{

    }
    &-time{

    }
    &-date{

    }
    &-mode{

    }
  }
  &__product{

    & *{
      padding: .1rem;
    }
    &-items{

    }
  }
  &__quantity{

    & *{
      padding: .1rem;
    }
    &-items{

    }
  }
  &__footer{

    & *{
      padding: .1rem;
    }
    &-total{

    }
    &-choice{

    }
  }
}
