// NewOrdersBox style
.NewOrdersBox{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 30%;
  & *{
    margin: 1rem;
    flex-basis: 30%;
    @include respond(tab-port){
      flex-basis: 45%;
    }
    @include respond(phone){
      flex-basis: 100%;
    }
  }
}










// box style
.box{
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0rem 1rem 2rem $color-grey-dark-2;
  // position: absolute;
  // width: 33.333%
}
