.completedOrders {
   margin: 1rem;
   flex-grow: 1;

  &__table {
    padding: .5rem;
    width: 100%;
    background: rgba($color-grey,.4);
    border: 1px solid $color-link;
    box-shadow: 0rem 2rem 5rem $color-grey;
    &-header {

      &--item {
        border: 1px solid $color-link;
        font-weight: bold;
        font-size: 2rem;
        text-transform: uppercase;
        padding: 1rem 2rem;

      }
    }
    &-section {
      &--item {
        border: 1px solid $color-link;
        font-size: 2rem;
        text-transform: capitalize;
        padding: 1rem 2rem;
      }
    }
  }
}
