.products{
  flex-grow: 1;
  &__table{
   // box-sizing: border-box;
   padding:1rem;
   transform: scale(0.89);
   background: cyan;
   width: 100%;
   border:1px solid orangered;
   box-shadow: 0rem 2rem 5rem cyan;
     &-header{
       text-transform: uppercase;
       font-size: 2.5rem;
       &--row{

       }
       &--item{
        border:1px solid orangered;
        padding:1rem 2rem;
       }
     }
     &-body{

       &--row{
        padding: 1rem 2rem;
        font-size: 2rem;
       }
       &--item{
         border:1px solid orangered;
         padding:1rem 2rem;
       }
     }
  }
}
