@mixin absCenter {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}


//media query manager
/*
0 t0 600 : phone;
600 t0 900 : tab portrait;
900 t0 1200 : tab landscape;
1200 to 1800 : default;
1800 + : big desktop
*/

@mixin respond($breakpoint){
  @if $breakpoint == phone  {
    @media only screen and (max-width:37.5em){@content}; //600
  }
  @if $breakpoint == tab-port  {
    @media only screen and (max-width:56.25em){@content}; //900
  }
  @if $breakpoint == tab-land  {
    @media only screen and (max-width:75em){@content};//1200
  }
  @if $breakpoint == big-desktop  {
    @media only screen and (min-width:112.5em){@content};//1800
  }

}
