// grey
$color-grey: #777;
$color-grey-dark-2:#999;
$color-grey-dark-3:#333;
$color-grey-light: #f7f7f7;
$color-grey-light-2: #eee;

// white
$color-white: #fff;
$color-white-2: #f4f4f4;


//link color
$color-link: #000;


//$color-red
$color-red: red;


//color-blue
$color-blue: blue;


//color-green
$color-green: green;


$color-cyan: cyan;
$color-lightblue: lightblue;
