/*
0 t0 600 : phone;
600 t0 900 : tab portrait;
900 t0 1200 : tab landscape;
1200 to 1800 : default;
1800 + : big desktop
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.nav {
  font-size: 2.2rem;
  text-transform: uppercase;
}

.menuMainFlex {
  font-size: 2rem;
}
.menuMainFlex .menu {
  text-align: center;
  padding: 1rem;
}
.menuMainFlex .main {
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
  color: #fff;
  padding: 0rem 0rem;
}
@media only screen and (max-width: 37.5em) {
  .header {
    display: block;
    padding-left: 0rem;
  }
}

.nav {
  flex-grow: 1;
  height: 100%;
}
.nav__ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.nav__ul a {
  color: #000;
}
.nav__ul a:hover {
  background: #999;
}
.nav__ul-li {
  height: 100%;
  transition: all 0.2s;
  flex-grow: 1;
  padding: 1rem 2rem;
}
.nav__ul-li:hover {
  background: #999;
}
@media only screen and (max-width: 37.5em) {
  .nav__ul {
    display: block;
  }
  .nav__ul * {
    margin: 1rem 0;
  }
}

.menuMainFlex {
  display: flex;
}
.menuMainFlex .menu {
  min-height: 93vh;
  background: #eee;
}
.menuMainFlex .main {
  min-height: 93vh;
  flex-grow: 1;
}
@media only screen and (max-width: 56.25em) {
  .menuMainFlex {
    flex-direction: column;
  }
  .menuMainFlex .menu {
    min-height: 6rem;
  }
}

.sidebar {
  display: block;
}
.sidebar:hover {
  background-color: #999;
}
.sidebar__btn {
  text-align: center;
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar__btn:focus {
  outline: none;
}
.sidebar__btn-span {
  padding: 2.5rem 2rem;
  font-size: 3rem;
}

.NewOrdersBox {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 30%;
}
.NewOrdersBox * {
  margin: 1rem;
  flex-basis: 30%;
}
@media only screen and (max-width: 56.25em) {
  .NewOrdersBox * {
    flex-basis: 45%;
  }
}
@media only screen and (max-width: 37.5em) {
  .NewOrdersBox * {
    flex-basis: 100%;
  }
}

.box {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0rem 1rem 2rem #999;
}