/*
0 t0 600 : phone;
600 t0 900 : tab portrait;
900 t0 1200 : tab landscape;
1200 to 1800 : default;
1800 + : big desktop
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.nav {
  font-size: 2.2rem;
  text-transform: uppercase;
}

.main .main__menuBar {
  font-size: 2rem;
  padding: 0.5rem;
}
.main .main__newOrderBox {
  padding: 0.5rem;
}

.newOrderContent {
  text-transform: capitalize;
  font-size: 1.4rem;
}
.newOrderContent__details * {
  padding: 0.1rem;
}
.newOrderContent__product * {
  padding: 0.1rem;
}
.newOrderContent__quantity * {
  padding: 0.1rem;
}
.newOrderContent__footer * {
  padding: 0.1rem;
}
.completedOrders {
  font-size: 1.5rem;
  flex-grow: 1;
  text-align: center;
}
.completedOrders__table-header {
  font-weight: 500;
}
.completedOrders__table-header--item {
  min-width: 10rem;
}
@media only screen and (max-width: 37.5em) {
  .completedOrders__table-header--item {
    min-width: 5rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .completedOrders__table-header--item {
    font-size: 1.2rem;
  }
}
.completedOrders__table-section--item {
  text-align: left;
  padding-left: 1rem;
  min-width: 10rem;
}
@media only screen and (max-width: 37.5em) {
  .completedOrders__table-section--item {
    min-width: 5rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .completedOrders__table-section--item {
    font-size: 1.2rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
  color: #fff;
  padding: 0rem 0rem;
}
@media only screen and (max-width: 37.5em) {
  .header {
    display: block;
    padding-left: 0rem;
  }
}

.nav {
  flex-grow: 1;
  height: 100%;
}
.nav__ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.nav__ul a {
  color: #000;
}
.nav__ul a:hover {
  background: #999;
}
.nav__ul-li {
  height: 100%;
  transition: all 0.2s;
  flex-grow: 1;
  padding: 1rem 2rem;
}
.nav__ul-li:hover {
  background: #999;
}
@media only screen and (max-width: 37.5em) {
  .nav__ul {
    display: block;
  }
  .nav__ul * {
    margin: 1rem 0;
  }
}

.main {
  display: flex;
}
@media only screen and (max-width: 56.25em) {
  .main {
    flex-direction: column;
  }
}
.main .main__menuBar {
  min-height: 90vh;
  background: #eee;
  display: flex;
}
@media only screen and (max-width: 56.25em) {
  .main .main__menuBar {
    min-height: 5vh;
    align-items: center;
    justify-content: center;
  }
}
.main .main__newOrderBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  flex-grow: 1;
  min-height: 90vh;
}
@media only screen and (max-width: 56.25em) {
  .main .main__newOrderBox {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.sidebar {
  display: block;
}
.sidebar:hover {
  background-color: #999;
}
.sidebar__btn {
  text-align: center;
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar__btn:focus {
  outline: none;
}
.sidebar__btn-span {
  padding: 2.5rem 2rem;
  font-size: 3rem;
}

.NewOrdersBox {
  display: flex;
  flex-wrap: wrap;
}
.NewOrdersBox * {
  margin: 0.3rem;
}

.box {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 1rem 1rem 2rem #999;
  background: #f4f4f4;
  margin: 1rem;
}

.newOrderContent {
  color: #333;
  display: flex;
  flex-wrap: wrap;
}
.newOrderContent__details {
  flex-grow: 1;
}
.newOrderContent__orders {
  overflow-y: scroll;
  max-height: 10rem;
  display: flex;
  flex-grow: 2;
}
.newOrderContent__product {
  flex-grow: 1;
}
.newOrderContent__quantity {
  flex-grow: 1;
}
.newOrderContent__footer {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #999;
}
.newOrderContent__footer-choice * {
  margin-left: 2px;
  padding: 0.2rem 0.5rem;
}

.completedOrders {
  padding: 2rem;
}
.completedOrders__table {
  background: #eee;
  box-shadow: 0rem 1rem 5rem #333;
  padding: 1rem;
}
.completedOrders__table-header {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.completedOrders__table-header--item {
  border: 1px solid #777;
  padding: 1rem 2rem;
  flex-grow: 1;
}
.completedOrders__table-section {
  display: flex;
  justify-content: center;
}
.completedOrders__table-section--item {
  border: 1px solid #999;
  padding: 1rem 2rem;
  flex-grow: 1;
  text-transform: capitalize;
}

.products {
  flex-grow: 1;
}
.products__table {
  padding: 1rem;
  transform: scale(0.89);
  background: rgba(119, 119, 119, 0.3);
  width: 100%;
  border: 1px solid #000;
  box-shadow: 0rem 2rem 5rem #999;
}
.products__table-header {
  text-transform: uppercase;
  font-size: 2.5rem;
}
.products__table-header--item {
  border: 1px solid #000;
  padding: 1rem 2rem;
}
.products__table-body--row {
  padding: 1rem 2rem;
  font-size: 2rem;
}
.products__table-body--item {
  border: 1px solid #000;
  padding: 1rem 2rem;
}
.products__table-body--item .checkboxBtn {
  height: 3.5rem;
  width: 3.5rem;
}
.products__table-body--item .myPriceInput {
  height: 3.5rem;
  width: 100%;
  padding-left: 1rem;
}

.products__menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: sticky;
  top: 0;
}
.products__menu-body {
  margin: 2rem;
  border: 1px solid #777;
  padding: 0.3rem;
}
.products__menu-image {
  padding: 1rem;
  margin: 2rem;
  border: 1px solid #777;
}
.products__menu-update {
  padding: 1rem;
  margin: 2rem;
  border: 1px solid #777;
}
.products__menu-update--btn {
  margin: 1rem auto;
  display: block;
  padding: 1rem 2rem;
}
.products__menu-search {
  margin: 2rem;
}
.products__menu-search--box {
  height: 3.5rem;
  padding-left: 1rem;
  width: 80%;
}
.products__menu-search--btn {
  height: 3.5rem;
  width: 3.5rem;
}
@media only screen and (max-width: 56.25em) {
  .products__menu {
    flex-direction: row;
    justify-content: space-around;
  }
}
.products__menu-list {
  max-height: 40vh;
  overflow-y: scroll;
}
.products__menu-item {
  padding: 0.6rem 1rem;
  transition: all 0.2s;
}
.products__menu-item:hover {
  background: #999;
}

.products__input {
  height: 3.5rem;
  width: 100%;
  padding-left: 1rem;
}

.products__deleteBtn {
  width: 100%;
  padding: 1rem 2rem;
}

.modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 80%;
  border: 2px solid black;
  box-shadow: 1px 5px 100px black;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

.modal2 {
  flex-wrap: wrap;
  display: flex;
  font-size: 2rem;
}

.detailProductTable {
  border: 1px solid black;
  margin: 2rem 1rem;
  padding: 0.1rem;
  flex-grow: 2;
}
.detailProductTable__head-row--item {
  border: 1px solid #777;
  text-transform: uppercase;
  padding: 0.5rem;
}
.detailProductTable__body-row--item {
  padding: 0.5rem;
  border: 1px solid #777;
}
.detailProductTable__foot-row--item {
  padding: 0.5rem;
  border: 1px solid #777;
}
.detailProductTable__foot-row--item:first-child {
  padding-right: 1rem;
  text-transform: uppercase;
  text-align: right;
}

.detailTable {
  border: 1px solid black;
  margin: 2rem 1rem;
  flex-grow: 1;
  padding: 0.1rem;
}
.detailTable__row-item {
  padding: 0.5rem;
  border: 1px solid #777;
}

.detailBtn {
  text-align: right;
  padding: 1rem;
  margin: 1rem 1rem;
  flex-basis: 100%;
}
.detailBtn__btn {
  font-weight: 100;
  padding: 0.5rem 2rem;
  font-size: 2rem;
  text-transform: capitalize;
  margin-left: 1rem;
}