/*
0 t0 600 : phone;
600 t0 900 : tab portrait;
900 t0 1200 : tab landscape;
1200 to 1800 : default;
1800 + : big desktop
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.nav {
  font-size: 2.2rem;
  text-transform: uppercase;
}

.main .main__menuBar {
  font-size: 2rem;
  padding: 0.5rem;
}
.main .main__newOrderBox {
  padding: 0.5rem;
}

.newOrderContent {
  text-transform: capitalize;
  font-size: 1.4rem;
}
.newOrderContent__details * {
  padding: 0.1rem;
}
.newOrderContent__product * {
  padding: 0.1rem;
}
.newOrderContent__quantity * {
  padding: 0.1rem;
}
.newOrderContent__footer * {
  padding: 0.1rem;
}
.completedOrders {
  font-size: 1.5rem;
  flex-grow: 1;
  text-align: center;
}
.completedOrders__table-header {
  font-weight: 500;
}
.completedOrders__table-header--item {
  min-width: 10rem;
}
@media only screen and (max-width: 37.5em) {
  .completedOrders__table-header--item {
    min-width: 5rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .completedOrders__table-header--item {
    font-size: 1.2rem;
  }
}
.completedOrders__table-section--item {
  text-align: left;
  padding-left: 1rem;
  min-width: 10rem;
}
@media only screen and (max-width: 37.5em) {
  .completedOrders__table-section--item {
    min-width: 5rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .completedOrders__table-section--item {
    font-size: 1.2rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
  color: #fff;
  padding: 0rem 0rem;
}
@media only screen and (max-width: 37.5em) {
  .header {
    display: block;
    padding-left: 0rem;
  }
}

.nav {
  flex-grow: 1;
  height: 100%;
}
.nav__ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.nav__ul a {
  color: #000;
}
.nav__ul a:hover {
  background: #999;
}
.nav__ul-li {
  height: 100%;
  transition: all 0.2s;
  flex-grow: 1;
  padding: 1rem 2rem;
}
.nav__ul-li:hover {
  background: #999;
}
@media only screen and (max-width: 37.5em) {
  .nav__ul {
    display: block;
  }
  .nav__ul * {
    margin: 1rem 0;
  }
}

.main {
  display: flex;
}
@media only screen and (max-width: 56.25em) {
  .main {
    flex-direction: column;
  }
}
.main .main__menuBar {
  min-height: 90vh;
  background: #eee;
  display: flex;
}
@media only screen and (max-width: 56.25em) {
  .main .main__menuBar {
    min-height: 5vh;
    align-items: center;
    justify-content: center;
  }
}
.main .main__newOrderBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  flex-grow: 1;
  min-height: 90vh;
}
@media only screen and (max-width: 56.25em) {
  .main .main__newOrderBox {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.sidebar {
  display: block;
}
.sidebar:hover {
  background-color: #999;
}
.sidebar__btn {
  text-align: center;
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar__btn:focus {
  outline: none;
}
.sidebar__btn-span {
  padding: 2.5rem 2rem;
  font-size: 3rem;
}

.NewOrdersBox {
  display: flex;
  flex-wrap: wrap;
}
.NewOrdersBox * {
  margin: 0.3rem;
}

.box {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 1rem 1rem 2rem #999;
  background: #f4f4f4;
  margin: 1rem;
}

.newOrderContent {
  color: #333;
  display: flex;
  flex-wrap: wrap;
}
.newOrderContent__details {
  flex-grow: 1;
}
.newOrderContent__orders {
  overflow-y: scroll;
  max-height: 10rem;
  display: flex;
  flex-grow: 2;
}
.newOrderContent__product {
  flex-grow: 1;
}
.newOrderContent__quantity {
  flex-grow: 1;
}
.newOrderContent__footer {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #999;
}
.newOrderContent__footer-choice * {
  margin-left: 2px;
  padding: 0.2rem 0.5rem;
}

.completedOrders {
  padding: 2rem;
}
.completedOrders__table {
  background: #eee;
  box-shadow: 0rem 1rem 5rem #333;
  padding: 1rem;
}
.completedOrders__table-header {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.completedOrders__table-header--item {
  border: 1px solid #777;
  padding: 1rem 2rem;
  flex-grow: 1;
}
.completedOrders__table-section {
  display: flex;
  justify-content: center;
}
.completedOrders__table-section--item {
  border: 1px solid #999;
  padding: 1rem 2rem;
  flex-grow: 1;
  text-transform: capitalize;
}